.drawer-overlay {
  @apply fixed inset-0 bg-dark-900/50 backdrop-blur-sm z-50;
  @apply opacity-0 pointer-events-none transition-opacity duration-300 ease-in-out;
}

.drawer-overlay.visible {
  @apply opacity-100 pointer-events-auto;
}

.drawer {
  @apply fixed bottom-0 left-0 right-0 h-[80vh] bg-dark-800 rounded-t-2xl;
  @apply transform transition-transform duration-300 ease-in-out z-[51];
  transform: translateY(100%);
}

.drawer.open {
  @apply translate-y-0;
}

.drawer-header {
  @apply flex justify-between items-center ;
  @apply px-6 py-4 bg-dark-700 rounded-t-2xl;
  @apply min-h-16;
}

.drawer-title {
  @apply text-h4 font-semibold text-fg;
}

.drawer-close {
  @apply w-8 h-8 rounded-lg;
  @apply flex items-center justify-center;
  @apply text-2xl text-fg-muted cursor-pointer absolute right-6 top-4;
  @apply transition-colors bg-dark-600 hover:bg-dark-500;
}

.drawer-body {
  @apply p-6 h-[calc(100%-4rem)] overflow-y-auto;
}
